$white : #FFFFFF;
$orange : #F6811E;
$purple : #2E3271;
$gray_light : #7C8DB5B8;
$blue : #004CFFB8;
$primary_color : #ecf2fd;
$link_color: #2E327180;
$username_color : #1115ea80;
$class_color : #10f026ed;
$gray : gainsboro;
$white_smoke: whitesmoke;
$white_reduce: #ffffff83;
